.header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 110px) ;
    overflow: hidden;
}

.header_h1 {
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--primary-font);
}

.header_h2 {
  color: var(--secondary-color);
  margin-block: 2.5rem;
  text-align: center;
}

.header_div {
   display: flex;
   justify-content: center;
  }

.header_img {
mix-blend-mode: darken;
width: 70dvw;
}

@media only screen and (min-width: 800px) {
    .header_img {
        width: 40dvw;
        }
  
  }
