.header_h1 {
  color: var(--secondary-color);
  margin-block: 3.5rem;
  text-align: center;
  font-family: var(--primary-font);
}

.cart {
  margin: 2rem auto;
  width: 90dvw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart__items {
  flex: 0.7;
}

.cart__summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  padding-block: 2.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.summary__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.summary__price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.summary__price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}

.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__checkoutBtn {
  padding: 10px 17px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.summary__checkoutBtn:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}


@media only screen and (min-width: 1400px) {
  .cart {
    max-width: 1000px;
    width: 60dvw;
    flex-direction: row;
  }

  .cart__items {
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 800px) {
  .cart__summary {
    height: 20dvh;
    flex: 0.3;
  }

}
