.products {
  display: grid; 
  
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-items: center;
   gap: 1rem;
}

.header_h1 {
  color: rgb(0, 0, 0);
  margin-block: 3.5rem;
  text-align: center;
}
