.products {
  display: grid; 
  
   grid-template-rows: 1fr;
   grid-template-columns: 1fr;
   justify-items: center;
   gap: 1rem;
}

.header_h1 {
  color: var(--secondary-color);
  margin-block: 3.5rem;
  text-align: center;
  font-family: var(--primary-font);
}

@media only screen and (min-width: 800px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1400px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}