.product {
  height: 250px;
  width: 80dvw;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
  border-top-left-radius: 7.7rem;
  border-bottom-left-radius: 7.7rem;
}

.image_container {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: auto;
  border-top-left-radius: 7.7rem;
  border-bottom-left-radius: 7.7rem;
}

.product__image {
  object-fit: cover;
  transform: scale(0.9);
  transition: .5s all ease-in-out;
}

.product__image:hover {
  transform: scale(1);
  transition: .5s all ease-in-out;
}

.product__content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
}

.product__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.details__title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.details__price {
  font-size: 1rem;
  font-weight: italic;
  color: var(--secondary-color);
}

.product__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  gap: .5rem;
}

.buttons__btn {
  width: 120px;
  height: 40px;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons__btn:hover {
  opacity: 0.7;
}

.buttons__view {
  background: var(--light-color);
  color: var(--secondary-color);
}

.buttons__add {
  background: var(--secondary-color);
  color: var(--light-color);
}

@media only screen and (min-width: 800px) {
  .product {
    width: 35dvw;
  }

  .image_container {
    max-width: 250px;
  }

  .product__image {
    transform: scale(0.5);
  }

  .product__image:hover {
    transform: scale(0.55);
  }
}

@media only screen and (min-width: 1400px) {
  .product {
    width: 21dvw;
  }
}